<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type=text/css href="{% static 'css/websites.css' %}"/>
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/ui-lightness/jquery-ui.css">
	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="{% static 'js/websites.js' %}" type="text/javascript"></script>
	<title>homey</title>
  </head>
  <body class="body">
	<div class="container">
		<div class="row">
			<div class="col">
				<h3>hello</h3>
				<form method="POST">
                    {% csrf_token %}
					{{ form.as_p }}
					<button type="submit" id="submit">submit</button>         
                </form>
				<br>
				<button type="button" onclick="websites:changeBackground();">bosen, mau ubah tema</button>
				<br><br>
				<div id="accordion">
				  <h3>current activity</h3>
				  <div>
					<p>
					studying information systems at universitas indonesia 
					</p>
				  </div>
				  <h3>experiences</h3>
				  <div>
					<p>
					staff of playground compfest 2019
					pic of equipment wisuda genap 2019
					</p>
				  </div>
				  <h3>achievement</h3>
				  <div>
					<p>
					winner of cgt brawl stars 2019
					</p>
				  </div>
				</div>
			</div>
			<div class="col">
				<h4>ini list statusnya</h4>
				{% for i in input %}
					<p>{{ i.status }}, ditulis pas {{ i.date }}</p>
				{% endfor %}
			</div>
		</div>
	</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>